env/
SeeReAct/env
SeeReAct/test.ipynb
SeeReAct/.env
train_data/
test_data/
.vscode/
.cache/
poster/
data/experiment_images
data/images
data/json_data
data/downloads
finetune/output/*
!finetune/output/.gitkeep 
output_qwen/
wandb/
eval/temp/
finetune/state/steps_left.json
finetune/training.out
finetune/experiment_out
finetune/base_experiment_out
finetune/finetune-Qwen2-VL
finetune/line_experiment_out
finetune/__pycache__
finetune/qwen2testout
finetune/state/*
finetune/logs/*
eval/out/*
eval/temp
eval/temp2
eval/temp3
eval/temp4
hugging_face/push.out
.qwen-venv/